<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@mipmap/newwow">
	<RelativeLayout
		android:layout_width="match_parent"
		android:layout_height="match_parent"
		android:background="@android:drawable/screen_background_light_transparent">
    <TextView
        android:layout_marginTop="20dp"
        android:text="@string/Hi"
        android:textAppearance="?android:attr/textAppearanceMedium"
        android:gravity="center"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/Hello" />
	<SearchView
		android:layout_marginTop="20dp"
		android:inputType="textMultiLine"
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:layout_below="@id/Hello"
		android:id="@+id/good"
		android:iconifiedByDefault="false" />
    <RadioGroup
        android:layout_marginTop="20dp"
        android:minWidth="25px"
        android:minHeight="25px"
		android:layout_centerHorizontal="true"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_below="@id/good"
        android:orientation="horizontal"
        android:id="@+id/radioGroup" >
        <RadioButton
			android:background="@android:drawable/screen_background_light_transparent"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="@string/obl"
            android:id="@+id/obl" />
		<TextView
			android:layout_weight="1"
			android:layout_width="30dp"
			android:layout_height="wrap_content" />
        <RadioButton
			android:background="@android:drawable/screen_background_light_transparent"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:text="@string/zavod"
            android:id="@+id/zavod" />
    </RadioGroup>
    <Spinner
        android:layout_marginTop="20dp"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_below="@id/radioGroup"
        android:id="@+id/spinner"
        android:layout_centerHorizontal="true"
        android:background="@android:drawable/screen_background_light_transparent"
        android:popupBackground="@android:drawable/screen_background_light_transparent" />
    <Button
        android:layout_marginTop="40dp"
        android:text="@string/buttonSearch"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_centerHorizontal="true"
        android:layout_below="@id/spinner"
        android:id="@+id/buttonSearch"
        android:background="@android:drawable/screen_background_light_transparent" />
	</RelativeLayout>
</RelativeLayout>