<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:background="@mipmap/newwow">
    <ListView
        android:background="@android:drawable/screen_background_light_transparent"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/results" />
	<FrameLayout
		android:id="@+id/progressBarHolder"
		android:animateLayoutChanges="true"
		android:visibility="gone"
		android:alpha="0.4"
		android:background="#000000"
		android:layout_width="match_parent"
        android:layout_height="match_parent">
		<ProgressBar
			style="?android:attr/progressBarStyleLarge"
			android:layout_width="wrap_content"
			android:layout_height="wrap_content"
			android:visibility="invisible"
			android:indeterminate="true"
			android:layout_gravity="center"
			android:id="@+id/progressBar1" />
	</FrameLayout>
</LinearLayout>